# Ceph-CSI CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for all files, see also devel:.github/CODEOWNERS
*       @ceph/ceph-csi-maintainers @ceph/ceph-csi-contributors
