apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
   name: rbd
provisioner: rbdplugin 
parameters:
    monitors: 192.168.80.233:6789
    pool: kubernetes
    adminID: admin
    adminSecret: AQAmsGBap4EoBhAAET/Hc7fBqAZj/cy7cDcoQA==
    userID: kube
    userSecret: AQAMgXhVwBCeDhAA9nlPaFyfUSatGD4drFWDvQ==
reclaimPolicy: Delete 
