kind: Service
apiVersion: v1
metadata:
  name: {{ include "ceph-csi-cephfs.provisioner.fullname" . }}
  labels:
    app: {{ include "ceph-csi-cephfs.name" . }}
    chart: {{ include "ceph-csi-cephfs.chart" . }}
    component: {{ .Values.provisioner.name }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  selector:
    app: {{ include "ceph-csi-cephfs.name" . }}
    component: {{ .Values.provisioner.name }}
    release: {{ .Release.Name }}
  ports:
    - name: dummy
      port: 12345
