# build directory
/output*/
/_output*/
/_output

# docker build
/deploy/docker/rbdplugin

# Emacs save files
*~
\#*\#
.\#*

# Vim-related files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# git merge files
*.orig
*.patch
*.rej
