# build directory
_output

# e2e test executable
e2e.test

# docker build
deploy/cephcsi/image/cephcsi

# build container
.devel-container-id

# git merge files
*.orig
*.patch
*.rej

# generated golangci-lint configuration
scripts/golangci.yml
