---
# need for docker build
os: linux
dist: bionic

addons:
  apt:
    packages:
      - coreutils
      - ruby
      - socat
services:
  - docker

language: go
branches:
  only:
    - master
# Only run the deploy stage on push (not pull_request) events.
stages:
  - name: deploy
    if: type = push

jobs:
  include:
    - stage: deploy
      name: push artifacts to repositories
      install:
        - export HELM_VERSION=$(source build.env ; echo ${HELM_VERSION})
        - curl -L https://git.io/get_helm.sh
          | bash -s -- -v "${HELM_VERSION}"
      script: ./deploy.sh
