---
# need for docker build
sudo: true

addons:
  apt:
    packages:
      - realpath
      - ruby

language: go
branches:
  only:
    - csi-v0.3
    - master
    - csi-v1.0  # remove this once csi-v1.0 becomes master

go: 1.11.x

env:
  global:
    - GOLANGCI_VERSION="v1.15.0"
    - TEST_COVERAGE=stdout
    - GO_METALINTER_THREADS=1
    - GO_COVER_DIR=_output

jobs:
  include:
    - name: Linter
      install:
        - gem install mdl
        - pip install --user --upgrade pip
        - pip install --user yamllint
        # install golangci-lint
        - curl -sf
          "https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh"
          | bash -s -- -b $GOPATH/bin "${GOLANGCI_VERSION}"
      script:
        - scripts/lint-text.sh --require-all
        - scripts/lint-go.sh
        - scripts/test-go.sh

    - name: rbdplugin
      script:
        - make rbdplugin

    - name: cephfsplugin
      script:
        - make cephfsplugin

deploy:
  - provider: script
    on:  # yamllint disable-line rule:truthy
      all_branches: true
    script: ./deploy.sh
