---
# need for docker build
sudo: true
dist: xenial

addons:
  apt:
    packages:
      - realpath
      - ruby
services:
  - docker

language: go
branches:
  only:
    - csi-v0.3
    - master

go: 1.12.x

env:
  global:
    - GOLANGCI_VERSION=v1.17.0
    - TEST_COVERAGE=stdout
    - GO_METALINTER_THREADS=1
    - GO_COVER_DIR=_output
    - VM_DRIVER=none
    - MINIKUBE_VERSION=v1.2.0
    - CHANGE_MINIKUBE_NONE_USER=true
    - KUBECONFIG=$HOME/.kube/config
    - DEP_VERSION=v0.5.4

before_install:
  - curl
    https://raw.githubusercontent.com/golang/dep/${DEP_VERSION}/install.sh|sh

jobs:
  include:
    - name: static-check-make
      install:
        - gem install mdl
        - pip install --user --upgrade pip
        - pip install --user yamllint
        # install golangci-lint
        - curl -sf
          "https://install.goreleaser.com/github.com/golangci/golangci-lint.sh"
          | bash -s -- -b $GOPATH/bin "${GOLANGCI_VERSION}"
        # install helm for helm lint
        - curl -L https://git.io/get_helm.sh | bash
      script:
        - make static-check
        - make go-test
        - make dep-check || travis_terminate 1;

    - name: cephcsi with kube 1.13.7
      script:
        - scripts/skip-doc-change.sh || travis_terminate 0;
        - make image-cephcsi || travis_terminate 1;
        - scripts/travis-functest.sh v1.13.7 || travis_terminate 1;

    - name: cephcsi with kube 1.14.3
      script:
        - scripts/skip-doc-change.sh || travis_terminate 0;
        - make image-cephcsi || travis_terminate 1;
        - scripts/travis-functest.sh v1.14.3 || travis_terminate 1;

    - name: cephcsi with kube 1.15.0
      script:
        - scripts/skip-doc-change.sh || travis_terminate 0;
        - make image-cephcsi || travis_terminate 1;
        - scripts/travis-functest.sh v1.15.0 || travis_terminate 1;

deploy:
  - provider: script
    on:  # yamllint disable-line rule:truthy
      all_branches: true
    script: ./deploy.sh
