---
# codespell is a GitHub Actions that runs codespell tool to catch misspell
# Reference https://github.com/codespell-project/actions-codespell
name: Codespell
# yamllint disable-line rule:truthy
on:
  pull_request:
    branches:
      - '*'
permissions:
  contents: read

jobs:
  codespell:
    name: codespell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: codespell
        run: make containerized-test TARGET=codespell
