---
name: lint-extras
# yamllint disable-line rule:truthy
on:
  pull_request:
    branches:
      - '*'
jobs:
  lint-extras:
    name: lint-extras
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: lint-extras
        run: CONTAINER_CMD=docker make containerized-test TARGET=lint-extras
