---
# yamllint disable rule:line-length
name: Mergify merge-queue labels copier
# yamllint disable-line rule:truthy
on:
  pull_request_target:
    types:
      - opened

jobs:
  mergify-merge-queue-labels-copier:
    runs-on: ubuntu-latest
    steps:
      - name: Copying labels
        uses: Mergifyio/gha-mergify-merge-queue-labels-copier@main
        with:
          additional-labels: 'ok-to-test'
          token: ${{ secrets.CEPH_CSI_BOT_TOKEN }}
